# Archivos de compilación
bin/
obj/

# Archivos de usuario
*.user
*.suo
**.vs/
/ASP.Net-Backend/.vs/
**/.cache/
/ASP.Net-Backend/TL.Api/appsettings.json
# Archivos de VS Code
.vscode/

# Archivos del sistema
Thumbs.db
.DS_Store